.mark {
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B51E0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.review-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #9B51E0;
  max-width: 740px;
}
