<div class="filters-block">
  <div class="search-block" *ngIf="isSearchOpen">
    <button class="search-button-input" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field appearance="fill" class="search-block-input">
      <input matInput
             [(ngModel)]="query"
             placeholder="шукайте твори за назвою та ім’ям автора">
    </mat-form-field>
  </div>
  <app-filter-button *ngIf="!isSearchOpen"
                     class="search-button"
                     iconName="search"
                     [isActive]="isSearchActive"
                     (click)="toggleSearch()">
  </app-filter-button>
  <app-filter-button iconName="filter_list" [isActive]="isFilterActive">
  </app-filter-button>
</div>
