.header-block {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 5px;
  display: flex;
}

//.main-container {
//  width: 100vw;
//  height: 100vh;
//  background: url(../assets/background.png) no-repeat;
//}
