<form class="example-form" [formGroup]="form">
  <button [disabled]="form.untouched || !form.value.text"
          (click)="addComment()">
    <mat-icon class="add-comment-icon">add_box</mat-icon>
  </button>
  <mat-form-field class="example-full-width">
    <mat-label>Приєднатися до обговорення</mat-label>
    <textarea formControlName="text" matInput placeholder="Приєднатися до обговорення..."></textarea>
  </mat-form-field>
</form>
<ng-container *ngIf="(comments$ | async).length && (comments$ | async) as comments; else message">
  <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
</ng-container>
<ng-template #message>
  <h2 class="message-title">
    Коментарів не знайдено. Залиште перший!
  </h2>
</ng-template>
