<div class="details" *ngIf="user">
  <div class="details-header">
    <div class="details-header__left">
      <h1 class="details-title"> {{ user.user.firstName + ' ' + user.user.lastName }} </h1>
      <button class="edit-button" *ngIf="currentUser">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="details-header__rigth">
      <button class="primary" mat-button>Додати твір</button>
    </div>
  </div>
  <div class="details-body">
    <div class="details-book-cover">
      <img class="book-cover" src="{{ user.user.avatar }}" alt="">
    </div>
    <div class="slogan">{{ user.slogan }}</div>
    <div class="about">{{ user.about }}</div>
    <div class="books-view">
      <span class="books-view__label">Кількість опублікованих творів: 8</span>
      <a class="books-view__link">(Переглянути)</a>
    </div>
  </div>
</div>
<div class="user-books">
  <h2 class="primary-title">Улюблені твори</h2>
  <app-books-slider [books]="usersBooks$ | async"></app-books-slider>
</div>
