.pic {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: block;
  font-weight: bold;
  color: white;
}

.initials {
  display: flex;
  align-items: center;
  justify-content: center;
}

