<form class="modal-content">
  <mat-form-field class="form-element-block" appearance="fill" >
    <mat-label>Type book title</mat-label>
    <input matInput required>
  </mat-form-field>
  
<!--  <mat-form-field class="form-element-block" appearance="fill">-->
<!--    <mat-label>Select genres</mat-label>-->
<!--    <mat-select multiple>-->
<!--      <mat-option value="option">Option 1</mat-option>-->
<!--      <mat-option value="option">Option 2</mat-option>-->
<!--      <mat-option value="option">Option 3</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
</form>
